.body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: white;
    text-align: center;
}

.input{
    text-align: center;
    align-items: center;
}
div #title_of_note{
    text-align: center;
    height: 30px;
    padding: none;
    margin: 10px 0px;
    max-width: fit-content;
    border-style:solid
}
#freeform{
    display: flex;
    width: auto;
    float:none;
    width: 80%;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    border-radius: 10px;
    align-items: center;
    min-width: fit-content;
    padding: 10px
    
}


#input_box{
    width: 100%; 
}

.color{
    border: none;
    width: 50px;
    height: 20px;
    display: flex;
    font-style: inherit;
    flex-direction: row;
    border-style: none;
}

div #delete{
    margin-left: 2px;
}
div #red{
    background-color: red;
    margin-left: 20px;
    border-radius: 100%;
}

div #yellow{
    background-color: yellow;
    margin-left: 20px;
    border-radius: 100%;
}

div #green{
    margin-left: 20px;
    border-radius: 100%;
    background-color: green;
}

.table_of_contents{
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: row;
    border-collapse: separate;
}

th{
    justify-content: center;
    padding: 69px;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* this is the styling for the modal dialog box */
#modal{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#modal .modal-content {
    width: 385px;
    height: 230px;
    margin: 100px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #666666;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid #cccccc;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    overflow: scroll scroll;
}

#modal div.modal-content #date_of_note{
    display: flex;
    flex-direction: row-reverse;
}

#modal div.modal-content #note-title{
    text-align: center;
    text-decoration: underline;
    font-size:xx-large;
}
#modal div.modal-content #close_btn{
    margin-top: 15%;
}



/* #modal div.modal-content #modal_note{
    width: 300px;
    height: 150px;
    border:none;
    margin: 10px;
    border-radius: 10px;
} */
/* this style blurs out the main content i.e the tabler */
/* .main_content{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

#overlay {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, .8);
    z-index: 999;
} */